%p#notice= notice
%h1 保険シュミレーター
= search_form_for @q do |f|
  = f.label :age
  = f.number_field :age_eq
  = f.label :sex
  = f.radio_button :sex_eq, 1
  男性
  \#{f.radio_button :sex_eq, 2}女性
  
  \#{f.submit "検索"}
  
%table
  %thead
    %tr
      %th 保険の種類
      %th 年齢
      %th 性別
      %th プラン
      %th= sort_link(@q, :fee, "保険料")
      %th 保険会社
      %th{:colspan => "3"}
  %tbody
    - @premiams.each do |premiam|
      %tr
        %td= premiam.name
        %td= premiam.age
        %td= premiam.sex
        %td= premiam.plan
        %td= premiam.fee
        %td= premiam.company
%br/
