<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @premiam.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @premiam.age %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @premiam.sex %>
</p>

<p>
  <strong>Plan:</strong>
  <%= @premiam.plan %>
</p>

<p>
  <strong>Fee:</strong>
  <%= @premiam.fee %>
</p>

<p>
  <strong>Company:</strong>
  <%= @premiam.company %>
</p>

<%= link_to 'Edit', edit_premiam_path(@premiam) %> |
<%= link_to 'Back', premiams_path %>
